@choice-arrow-side-space: 30px;
@choice-arrow-size-normal: 25px;

@choice-arrow-size-big: @choice-arrow-size-normal+5px;
@choice-arrow-side-space-hover: @choice-arrow-side-space+5px;

@choice1-colour-TEMP: #387aff;
@choice2-colour-TEMP: #f5009b;

.pair-choice
{
    display: flex;
    flex-direction: row;

    .choice
    {
        position: relative;
        flex: 1;
        color: var(--choice-colour);
        cursor: pointer;

        .choice-arrow
        {
            position: absolute;
            width: @choice-arrow-size-normal;
            top: 50%;
            right: -@choice-arrow-side-space;
            margin-top: @choice-arrow-size-normal/-2;
            opacity: .8;
            font-size: 0;

            svg
            {
                width: @choice-arrow-size-normal;
                height: @choice-arrow-size-normal;
            }
        }

        &.left
        {
            text-align: right;
            --choice-colour: @choice1-colour-TEMP;
        }

        &.right
        {
            --choice-colour: @choice2-colour-TEMP;

            .choice-arrow
            {
                right: usent;
                left: -@choice-arrow-side-space;
            }
        }

        &:hover
        {
            font-weight: 500;

            .choice-arrow
            {
                width: @choice-arrow-size-big;
                margin-top: @choice-arrow-size-big/-2;
                right: -@choice-arrow-side-space-hover;
                opacity: 1;

                svg
                {
                    width: @choice-arrow-size-big;
                    height: @choice-arrow-size-big;
                    stroke: var(--choice-colour);
                }
            }

            &.right
            {
                .choice-arrow
                {
                    right: unset;
                    left: -@choice-arrow-side-space-hover;
                }
            }
        }
    }

    .mid-split
    {
        width: 120px;
    }
}